@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html{
	zoom: 0,75;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0;
	margin: 0;
	text-shadow: 0px 0px 1vh #1A1A1A;
	background: url(logo/skybox_bottom.png) no-repeat fixed 50% 50%;
	background-size: cover;
	height: 800px;
	}

ul {
	padding: 0;
	margin: 0;
	}

li {
	list-style-type: none;
	}

h2 {
	text-transform: uppercase;
	text-align: center;
	padding-top:15px;
	font-size: 2em;
	}

h3 {
	text-align: center;
	padding-top: 10px;
	font-size: 1.5em;
	}
	
h4 {
	text-align: center;
	padding-top: 5px;
	font-size: 1.3em;
	}

h5 {
	padding-top: 5px;
	font-size: 1.1em;
	}

a {
	text-decoration: none;
	color: #A992FF;
	}

	body::-webkit-scrollbar {
		margin: 0.25vh;
		width: 0.5vh;
	}

	body::-webkit-scrollbar-track {
		background: black;
		opacity: 0;
	}

	body::-webkit-scrollbar-thumb{
		background: #A992FF;
	} 


/* ********************************** Navbar ********************************* */


nav{
	overflow: hidden;
	background-color: #3B2183;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 7vh;
	/*opacity: 0.9;*/
}

header li{
	float: left;
	text-shadow: 0px 0px 20px black;
	font-family: 'Oswald', cursive;
	}

header li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 2vh;
	display: block;
	text-align: center;
	padding: 1em 2em;
}

header li a:hover{
	color: #D6CBFF;
	transform: scale(1.05);
	transition: 0.5s ease-in;
}

#Zerkhad-300F{
	padding-top: 0.7vh;
	float: right;
}
.responsive{height: 6vh;}


/* **********************Body**************************** */


#VegaSpaceR{
	padding-top: 15vh;
	text-align: center;
}
.vega{max-width: 100%;}

#Winx{
	float: center;
	padding-top: 2.5em;
	color: #A992FF;
}

#Presentation{
	margin: auto auto;
	background-color: #545B64;
	border-radius: 40px 40px 40px 40px;
	box-shadow: 0px 0px 2vh black;
	width: 70%;
	max-width: 90%;
	font-size: 2em;
	padding: 1em 3em;
	color: #C3D1E3;
	text-justify: space-between;
}

/*.images img{
	margin: 1% 10% 1% 14%;
	width: 72%;
	height: 72%;
	border-radius: 0% 20% 0% 20%;
	box-shadow: 0px 0px 2vh black;
}*/

.images {
	margin: 1% 10vh 1% 10vh;
	float: center;
}

.images img{
	background-size: cover;
	max-width: 10em;
	max-height: 6em;
	margin: 1% 1% 1% 1%;
	width: 30%;
	height: 30%;
	border-radius: 0% 20% 0% 20%;
	box-shadow: 0px 0px 2vh black;
}

.images img:hover{
	cursor: pointer;
	transform: scale(1.2);
	background-size: cover;
	transition: 0.2s ease-in;
}

.images img:active{
	transform: scale(3.8);
	background-size: cover;
	transition: 0.2s ease-in;
	}